<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Mono.Security" publicKeyToken="0738EB9F132ED756" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
